.container {
  display: flex;
  margin: 1.5rem auto;
  gap: 1.5rem;
  justify-content: center;
  max-width: 1200px;
  flex-wrap: wrap;
}

.UsersOptions {
  max-width: 350px;
  background-color: var(--U_Secondary);
  padding: 1rem;
  padding-right: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.UsersOptions h1 {
  font-weight: 500;
}
.UsersOptions p {
  font-weight: 300;
  font-size: 0.9rem;
}

.UsersOptionsLink {
  padding: 0.2rem 0.5rem;
  background-color: var(--white);
  border-radius: 2px;
}
