.Header {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: var(--U_Primary);
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  height: auto !important;
}

.logo img {
  height: 50px;
  width: 50px;
}

.leftHeaderBar {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 2rem;
}
.rightHeaderBar {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 2rem;
}

.rightHeaderBar a,
.leftHeaderBar a {
  font-weight: 500;
  height: 21px;
  font-size: 1.1rem;
  display: block;
}
