.menuIcon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 0 10px;
  width: fit-content;
  height: 100%;
  justify-content: center;
}

.menuIcon .bar1,
.menuIcon .bar2,
.menuIcon .bar3 {
  width: 25px;
  height: 2px;
  background-color: var(--primary);
  margin: 3px 0;
  transition: 0.4s;
}

.menuIconChange .bar1 {
  transform: translate(0, 5px) rotate(-45deg);
}

.menuIconChange .bar2 {
  opacity: 0;
}

.menuIconChange .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
