.container {
  display: flex;
  justify-content: center;
}
.JobsContainer {
  display: block;
  margin-left: 3rem;
  width: calc(100vw - 5rem);
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
  -ms-overflow-style: none;
  align-items: center;
  justify-content: center;
}

.cardContainer::-webkit-scrollbar {
  display: none;
}

@media (max-width: 767px) {
  .JobsContainer {
    margin-left: 1rem;
    width: calc(100vw - 3rem);
  }
}
